#logo_farmanova{
    height: 250px;
    margin: 20px 0px;
    
    border-radius: 50%;
}

#menu_fijo{
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

.card-img-top{
    height: 150px;
    width: 100%;
}


.card-body{
    height: 150px;
}

.contenedor_carrusel{
    width: 350px;
    height: 350px;
    margin: auto;
    background-color: rgb(151, 153, 153);
}

.imagen_carrusel{
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin: auto;
  
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: black;
}

.star{
    width: 20px;
    height: 20px;
}

.contenedor_contacto{
    background-color: rgb(121, 201, 248);
}



